@font-face {
    font-family: buttermilk;
    src: url(Buttermilk.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    background: url(moon_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.name {
    height: 100%;
    color: #fff;
    mix-blend-mode: difference;
    font-size: 100px;
    font-family: buttermilk;
    display: flex;
    justify-content: center;
    align-items: center;
}